<launch>

  <!-- <include file="$(find travis_description)/launch/base.launch" /> -->

  <include file="$(find gmapping)/launch/slam_gmapping.launch" />

  <include file="$(find teleop_twist_joy)/launch/teleop.launch" />

  <!-- <node pkg="map_server" name="map_saver" type="map_saver" args="-f $(find travis_description)/maps/map"/> -->



</launch>
