<?xml version="1.0" ?>
<model>
    <name>cafu_world</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Arpit Chauhan</name>
        <email>carpit680@gmail.com</email>
    </author>
    <description>10*10m open world with obstacles for technical task.</description>
</model>
